#stories.transitions-enabled
	- @stories.each do |story|
		.box.panel.panel-default
			- if story.youtube.to_s != ''
				= story.youtube.html_safe
			%h2= link_to story.title, story
			%p.user
				Submitted by
				= story.user.email
			